
.panel-body{
    background-image: url("img/saw.jpg");
    background-size: cover;
    color: rgba(255, 44, 44, 0.9);
    margin-top:-5rem;
    margin-bottom: -10rem;
    height: 100%;
    width: 100% ;
}
h1,h2{
    text-align: center;
    margin-top: 3rem !important;
}
.guessContainer{
    margin-top: 10rem !important;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    
}

.guessField{
    width: 20rem;
}